

.titulo{
    font-size: large;
    text-align: center;
}

.rodape{
    font-weight: 100;
    text-align: end;
    color: black;

}

.container{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: 10px;
}

.container p {

    background-color: rgba(255, 255, 255, 0.153);
    flex-flow: row;
    color: white;
    width: 300px;
    display: flex;
    align-items: stretch;
    text-align: justify;
    padding: 15px;
    margin: 20px;

}

#menu {
    justify-content: flex-end;
    display: flex;
    height: 100px;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.412);
   
}

#menu li {
    background-color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    display: inline;
    text-decoration: none;

}

#menu li a {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.814);
}

#menu li a:hover {
    color: rgb(0, 166, 255);
}

.texto {
    text-align: center;
    color: black;
    size: 20px;

}



